
body {
  
  margin:0px auto; padding:2em;
  box-sizing:border-box;
  
}

.board {

  width: 35%;
  background: #333333;
}

.board-head {

  width: 100%;
  display: flex;
  background: #333333;
}



.board-screen {

  width: 50%;
  float: right;
  padding:1%;
  border-color: #333333;
  border-style: solid;
  border-width: 5px;
  
}

.screen {

  width: 100%;
  height: 100%;
  background: #b7b28f;
}

.board-controls {

   width: 50%;
   float: left;
   background: #333333;
}

#knob-group {

    width: 70.5%;
    height: 5%;
    padding-bottom: 0;
}

.knob {

  width: 25%;
  padding-bottom: 25%;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.2), inset 0 3px 1px rgba(255, 255, 255, 0.9), 0px 0px rgba(0, 0, 0, 0.1), -0px 1px 2px rgba(0, 0, 0, 0.05), -1px 2px 2px rgba(0, 0, 0, 0.04737), -2px 3px 2px rgba(0, 0, 0, 0.04474), -3px 4px 2px rgba(0, 0, 0, 0.04211), -4px 5px 2px rgba(0, 0, 0, 0.03947), -5px 6px 2px rgba(0, 0, 0, 0.03684), -6px 7px 2px rgba(0, 0, 0, 0.03421), -7px 8px 2px rgba(0, 0, 0, 0.03158), -8px 9px 2px rgba(0, 0, 0, 0.02895), -9px 10px 2px rgba(0, 0, 0, 0.02632), -10px 11px 2px rgba(0, 0, 0, 0.02368), -11px 12px 2px rgba(0, 0, 0, 0.02105), -12px 13px 2px rgba(0, 0, 0, 0.01842), -13px 14px 2px rgba(0, 0, 0, 0.01579), -14px 15px 2px rgba(0, 0, 0, 0.01316), -15px 16px 2px rgba(0, 0, 0, 0.01053), -16px 17px 2px rgba(0, 0, 0, 0.00789), -17px 18px 2px rgba(0, 0, 0, 0.00526), -18px 19px 2px rgba(0, 0, 0, 0.00263), -19px 20px 2px transparent;
}

table {

  padding:1%;
  background: #333333;
  border-radius:2px;
  box-shadow:2px 2px 4px 0px darkGrey;
}

td {

  padding-top: 3px;
  padding-bottom: 3px;
}


button {
   box-sizing: border-box;
   display: block;
   border: 1px solid white;
   background-color: lightGrey;
   height:50px;
   width:50px;
   cursor:pointer;
   margin: 0 3px;
}




