
body {
  
  margin:0px auto; padding:2em;
  box-sizing:border-box;
  
}

table {

  padding:1%;
  background: #333333;
  border-radius:2px;
  box-shadow:2px 2px 4px 0px darkGrey;
}

td {

  padding-top: 3px;
  padding-bottom: 3px;
}


button {
   box-sizing: border-box;
   display: block;
   border: 1px solid white;
   background-color: lightGrey;
   height:50px;
   width:50px;
   cursor:pointer;
   margin: 0 3px;
}




